<!-- 등록 -->
<a href="/allPosts">&larr; 뒤로</a>
<div class="admin-title">
    <h2><%= locals.title %></h2>
    <form action="/delete/<%= data._id%>?_method=DELETE" method="post">
        <input type="submit" value="삭제" class="btn tbn-delete">
    </form>
</div>

<form action="/edit/<%= data._id %>?_method=PUT" method="post">
    <label for="title"><b>제목</b></label>
    <input type="text" placeholder="게시물 제목" name="title" id="title" required value="<%= data.title %>">

    <label for="body"><b>내용</b></label>
    <textarea placeholder="게시물 내용" name="body" id="body" cols="50" rows="10">
        <%= data.body %>
    </textarea>

    <input type="submit" value="수정 " class="btn">
</form>